<header>
  <%= image_tag "logo", class: "logo"%>
  <div class="user">
    <div class="user_name">
      <p class="han_by">Handicrafted by</p>
      <p class="name">Jim HLS</p>
    </div>
    <%=image_tag "avatar", class: "avatar"%>
  </div>
</header>
